In [ ]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
x = dados[['home','how_it_works','contact']]
y = dados['bought']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [ ]:
# renomeando as colunas 
mapa = {
     'home' : 'principal',
     'how_it_works': 'como_funciona',
     'contact':'contato',
     'bought':'comprou'
 }
dados = dados.rename(columns = mapa)

In [ ]:
x = dados[['principal','como_funciona','contato']]
y = dados['comprou']

In [ ]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

In [ ]:
print('Treinaremos  com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

Treinaremos  com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [ ]:
from sklearn.metrics import accuracy_score
#treinando os modelos
previsoes = modelo.predict(teste_x)
# comparando os modelos
accuracy_score(teste_y, previsoes)

0.9583333333333334

In [ ]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurácia foi %.2f%%' % acuracia)

A acurácia foi 95.83%

In [ ]:
from sklearn.model_selection import train_test_split
# teste de 25%
treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size = 0.25)
print('Treinaremos  com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

Treinaremos  com 74 elementos e testaremos com 25 elementos

# Usando a biblioteca para separar treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,random_state = SEED, test_size = 0.25)
print('Treinaremos  com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurácia foi %.2f%%' % acuracia)

Treinaremos  com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [ ]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,
                                                        random_state = SEED, test_size = 0.25,
                                                        stratify = y)
print('Treinaremos  com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurácia foi %.2f%%' % acuracia)

Treinaremos  com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64